.menu-container {
  background: white;
}

.row-container {
  display: flex;
  align-items: center;
  padding: 1.5rem 0.75rem;
  
}

.row-container:hover {
  cursor: pointer;
}

.row-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #5a5c74;
  text-align: center;
  word-break: break-all;
  padding: 0 0.5rem;
}

.row-icon {
  margin: 0 1rem;
  font-size: 1.4rem;
  color: #434660;
}

.row-active-icon {
  margin: 0 1rem;
  font-size: 1.4rem;
  color: white;
}
@media screen and (max-width:1000px)
{

  
  .menu-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    
  }
  

 .row-container {
  flex:1;
  align-items: center;
 padding: 1.5rem 0.75rem;
 width: 100%;

} 

}

@media screen and (max-width:780px)
{
  .menu-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    
  }

}


@media screen and (max-width:957px)
{
  
.row-container {
  align-items: center;
 padding: 1.5rem 0.75rem;
 /* background-color: blue; */

}


}