.menu-container {
  background: white;
}

.row-container {
  display: flex;
  align-items: center;
  padding: 1.5rem 0.75rem;
}

.row-container:hover {
  cursor: pointer;
}

.row-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #5a5c74;
  text-align: center;
  word-break: break-all;
  padding: 0 0.5rem;
}

.row-icon {
  margin: 0 1rem;
  font-size: 1.4rem;
  color: #434660;
}

.row-active-icon {
  margin: 0 1rem;
  font-size: 1.4rem;
  color: white;
}
