.general {
    border-radius: 5px;
    border: solid 1px #979797;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    color: #5e5e5e;
}