body {
  background-color: #f1f2f7;
}

.createpostcontainer {
  margin: 50px 150px;
}
.sidecontainer {
  float: left;
  width: 370px;
  height: 100% !important;
}
.subcontainer {
  float: left;
  width: 900px;
  margin: 0px 50px;
}
