.container{
    margin: 50px 46px 859px 154px;
    width: 370px;
    height: 287px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    border-radius: .2em;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eachrow{
    text-align: center;
    width: 370px;
    height: 96px;
}