.create-post-container {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  justify-content: center;
}

.sidebar {
  width: 25%;
  padding: 1rem;
}

.contentBox {
  width: 75%;
  padding: 1rem;
  display: flex;
  
}

@media screen and (max-width:1000px)
{

  .create-post-container {
    display: flex;
    flex-direction: column;
    width:100%;
  }

  
  .sidebar {
    width: 100%;
    padding: 3rem 3rem;
    display:flex ;
  }
  
  .contentBox {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    justify-content: center;
   
  }
}
@media screen and (max-width:400px){
  .contentBox {
  padding: 3rem 1rem;
  width: 100%;
  
  }
}
@media screen and (max-width:350px){
  .contentBox {
  padding: 0;
  width: 100%;
  
  }
}