{
  "plugins": [
    [
      "babel-plugin-react-css-modules",
      {
        "webpackHotModuleReloading": true,
        "handleMissingStyleName": "warn",
        "autoResolveMultipleImports": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties"
    ]
  ]
}