.navbar {
  width: 100%;
  height: 6em;
  background-color: #2964ee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.startnav {
  display: flex;
  width: 50%;
}
.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 0 6em;
}

.title {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 0 3em;
  font-family: Neutrifpro-bold;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.subnavbar {
  display: flex;
  width: 40%;
  align-items: center;
}
.subnavbar ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 65%;
  margin: 0;
  margin-top: auto;
  margin-bottom: 2px;
  align-items: baseline;
}

.profile-pic {
  width: 2em;
  border-radius: 50%;
  height: 2em;
}

.active-nav-link {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: Neutrifpro-semibold;
  font-size: 1.2rem;
  letter-spacing: 0.75px;
  border-bottom: 3px solid white;
  margin: 0 0.5rem;
}

.active-nav-link a {
  text-decoration: none;
  color: white;
}

.nav-link {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: Neutrifpro-semibold;
  font-size: 1.2rem;
  letter-spacing: 0.75px;
  margin: 0 0.5rem;
}

.nav-link a {
  text-decoration: none;
  color: #8cabf7;
}

.active-nav-link a:hover {
  color: white;
}

.nav-link a:hover {
  text-decoration: none;
  color: white;
}

.logo {
  height: 75px;
  width: auto;
}
.navController {
  height: 0;
}

@media screen and (max-width: 1200px) {
  .startnav {
    width: 30%;
  }

  .subnavbar {
    width: 60%;
  }
}
@media screen and (max-width: 800px) {
  ul {
    margin-block-start: 0;
  }
  .startnav {
    width: 0;
  }
  .subnavbar {
    width: 85%;
  }
  .title {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .titleRespon{
    visibility: hidden;
  }
  .navController {
    height: 100vh;
  }
  .subnavbar {
    
    visibility: hidden;
  }
  .active-nav-link {
    width: fit-content;
  }
  .nav-link {
    width: fit-content;
  }
}