.navbar {
  width: 100%;
  height: 6em;
  background-color: #2964ee;
  display: flex;
  flex-wrap: wrap;
}

.startnav {
  display: flex;
  width: 50%;
}
.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 0 6em;
}

.title {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 0 0 3em;
  font-family: Neutrifpro-bold;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #ffffff;
}

.subnavbar {
  display: flex;
  width: 50%;
}
.subnavbar ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.subnavbar ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Neutrifpro-semibold;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
}

.subnavbar ul li a {
  text-decoration: none;
  color: #ffffff;
}

.profilepic {
  position: absolute;
  margin-left: 1830px;
  margin-top: 25px;
  width: 46px;
  height: 46px;
  background-color: #666666;
}