.general {
    font-size: 1rem;
    font-family: Neutrifpro-regular;
    letter-spacing: 0.5px;
    color: #000000;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #a8a9b5;
    padding: 1rem 1.4rem;
}

.general::placeholder {
    font-size: 1rem;
    font-family: Neutrifpro-regular;
}