.post-container {
  margin: 1rem 0;
}

.filter-container {
  margin: 1rem 0;
  background: white;
  padding: 1rem;
}

.filter-heading {
  font-family: Neutrifpro-regular;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: normal;
  color: #000000;
  margin: 0 0 0.5rem 0;
}
