/* .sideContainer{
    float: left;
    width: 23%;    
} */


.container{
    background-color: white;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 5px 0 30px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
}
.row {
    width: auto !important;
    padding-left: 50px;
    height: 96px;
}
/* .row::Icon {
    margin-right: 50px !important;
} */
.titlerow {
    height: 32px !important;
    margin-left: 10px;
    font-family: NeutrifPro-regular;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.84px;
}