.eachrow {
  width: auto;
  display: flex;
  align-items: center;
  height: 68px;
  padding-left: 13px;
}
.nameeachrow {
  padding-left: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #5a5c74;
}
.iconstyle {
  color: #5a5c74;
}
