.each-row {
  width: 270px;
  display: flex;
  align-items: center;
  height: 68px;
  padding-left:13px;

}
.name-each-row {
  padding-left: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #5a5c74;
}
.icon-style {
  color: #5a5c74;
}
