.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

span:hover {
  cursor: pointer;
}
.filterSkills {
  width: 40%;
}

.searchBox {
  height: 6vh;
  width: 100%;
  margin-bottom: 5%;
}
.searchBoxinput {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  font-family: Neutrifpro-regular !important;
  font-size: 130%;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.97px;
}
.searchBox .ui.input > input {
  border: none !important;
}
.searchBox .ui.input > input::placeholder {
  color: black !important;
}

.skills {
  background-color: white;
}
.skills > div {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
  font-family: Neutrifpro-regular;
  font-size: 120%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.85px;
  color: #5a5c74;
  text-transform: capitalize;
}
.addedSkills {
  width: 40%;
}

.selected-skills-title {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  font-family: Neutrifpro-regular;
}

.addedSkills .selected {
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  position: relative;
}

.selected span {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
}
.selected span p {
  margin: 0;
  color: red;
  display: inline;
}

.clear-button {
  background: none;
  border: none;
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
}

.clear-button div {
  margin: 0.2rem;
}

.clear-button .clear-all-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-button {
  background: none;
  border: none;
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
}

.remove-button {
  background: none;
  border: none;
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
}
