.opportunities-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.side-container {
  width: 25%;
  padding: 1rem 1rem;
}

.filter-container {
  padding: 1rem 1rem;
  margin: 1rem 0;
  background: white;
  height: 100%;
}

.filter-heading {
  font-family: Neutrifpro-regular;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: normal;
  color: #000000;
}

.opportunities-main-container {
  width: 70%;
  padding: 0 0.5rem;
  margin: 1rem 0;
}

.interns-found {
  font-family: Neutrifpro-regular;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: normal;
  color: #434660;
}

.location-filter {
  margin: 1rem 0;
}

.range-filter {
  margin: 1rem 0;
}

.range-filter-slider {
  padding: 0 1rem;
}

.filter-label {
  font-family: Neutrifpro-regular;
  font-size: 1rem;
  line-height: normal;
  color: #5a5c74;
  margin: 0.5rem 0;
}
