.filteredLabels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0 0.8rem 0;
}

.filteredLabels > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 2%;
  padding: 0.8% 1%;
  border-radius: 4px;
  font-family: NeutrifPro;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.85px;
  background-color: #f1f2f7;
  text-transform: capitalize;
}
.filteredLabels > div > span {
  cursor: pointer;
  padding: 0 0 0 5px;
  color: #4e4e4e;
}
.css-2b097c-container {
  border: solid 1px #5a5c74;
  background-color: #f1f2f7;
}
.css-yk16xz-control {
  padding: 2%;
  border-radius: 5px;
}
.css-1okebmr-indicatorSeparator {
  display: none;
}
svg {
  size: 4rem;
}
