.org {
  height: 120vh;
  padding: 2% 5% 1% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f1f2f7;
  box-sizing: border-box;
}
.sidebar {
  width: 25%;
}
.contentBox {
  width: 70%;
  height: 100%;
}

.tabs {
  width: 80%;
}
.tabs .tabsCol {
  height: 4vh;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  position: relative;
}
.tabs .tabsCol > div {
  text-align: center;
  display: block;
  padding: 0 0 0 5%;
  font-family: Neutrifpro-regular;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.85px;
  color: black;
  text-transform: capitalize;
  font-size: 130%;
  margin: 0;
  width: 60%;
}

.tabActive {
  color: #2964ee !important;
  border-bottom: 2px solid #2964ee;
}

.cardsCol {
  float: left;
  width: 50%;
  padding: 0 10px;
  margin-bottom: 20px;
}
.card {
  height: 180px;
  padding: 20px 10px 10px 23px;
  border-radius: 3px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}
.cardImg {
  float: left;
  width: 80px;
  height: 80px;
  padding: 0 10px;
}
.cardImg img {
  width: 100%;
  height: 100%;
}
.cardDetails {
  padding: 2px 0px;
}
.cardDetails h4 {
  position: relative;
  top: -20px;
  font-family: Neutrifpro-regular;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.32px;
  color: #434660;
}
.cardDetails p {
  font-family: Neutrifpro-regular;
  position: relative;
  top: -18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.04px;
}
.follow {
  position: relative;
  left: 40%;
  width: 73px;
  height: 28px;
  font-size: medium;
  font-family: Neutrifpro-regular;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.85px;
  text-align: center;
  color: #2964ee;
}
