.login {
  font-family: Neutrifpro-regular;
  display: flex;
  height: 100vh;
}

.loginInput {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginInnerInputWrapper {
  margin: auto 0 auto auto;
  width: 85%;
}

.loginHeadingWrapper {
  padding: 1rem 0;
}

.heading {
  font-size: 3.6rem;
  margin: 0px 0px 6px 0px;
  line-height: normal;
  letter-spacing: 1.1px;
  font-weight: 500;
  color: #434660;
}

.subheading {
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: normal;
  color: #a8a9b5;
  margin: 0px 0px 16px 0;
}

.loginField {
  margin: 1rem 0px;
}

.forgotPassword {
  margin: 0 0 1rem 0;
}

.notMember {
  margin: 0 0 1rem 0;
}

.forgotPassword > *,
.notMember > * {
  letter-spacing: 0.4px;
  color: #2964ee;
}

.loginSubmit {
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 4px 7px 10px 1px rgba(0, 0, 0, 0.15);
  background-color: #2964ee;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}

.loginNotMember{
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 4px 7px 10px 1px rgba(0, 0, 0, 0.15);
  border: solid 2px #2964ee;
  color: #2964ee;
  letter-spacing: 0.5px;
  text-align: center;
}

.loginNotMember:hover {
  box-shadow: 0;
}

.loginSubmit:hover {
  color: #ffffff;
  box-shadow: 4px 7px 10px 1px rgba(0, 0, 0, 0.15);
}

.loginSubmit > button:active {
  color: #ffffff;
  background-color: #2964ee;
}

.loginOption {
  margin: 1rem 0 0 0;
}

.loginPageImageSection {
  background-image: url('../../images/mainbuilding.svg');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60%;
  height: 100%;
}

@media (max-width: 515px) {
  body {
    display: flex;
    justify-content: center;
  }

  .login {
    position: relative;
    height: 100%;
    overflow: hidden;
    padding: 0 10vw;
    width: 100%;
  }

  .loginInput {
    width: 100%;
    z-index: 1;
  }

  .loginMainBuilding {
    height: 100vh;
    position: absolute;
    opacity: 0.2;
    top: 0;
  }

  .heading {
    font-size: 2.6rem;
    width: 80vw;
  }

  .subheading {
    width: 80vw;
    font-size: 1rem;
  }

  .loginField > * > * {
    width: 80vw;
    height: 35px;
  }

  .forgotPassword {
    text-align: left;
  }

  .loginField > * > *::placeholder {
    font-size: 1rem;
  }

  .loginOption {
    width: 80vw;
  }

  .loginSubmit > button {
    width: 80vw;
  }

  .notMember {
    width: 80vw;
  }

  .loginNotMember > button {
    width: 80vw !important;
  }
}
