.login {
    font-family: Neutrifpro-bold;
    display: flex;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
}

.loginInput {
    position: relative;
    width: 47vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading {
    width: 37vw;
    max-width: 570px !important;
    font-size: 3.6rem;
    letter-spacing: 1.1px;
    color: #000000;
    margin: 12px 0px;
}

.subheading {
    width: 37vw;
    max-width: 570px !important;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: #7d7d7e;
    margin: 0px 0px 24px 0;
}

.loginField {
    margin: 10px 0px;
}

.loginField>*>* {
    width: 37vw;
    height: 50px;
    max-width: 570px !important;

}

.loginField>.input>*::placeholder {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.8px;
    color: #787879;
}


.forgotPassword {
    width: 37vw;
    max-width: 570px !important;
    text-align: left;
    margin: 0px 0px 40px 0;
}

.loginSubmit>.button {
    width: 37vw;
    max-width: 570px !important;
    font-size: 2rem;
    font-weight: 500;
    box-shadow: 4px 7px 10px 1px rgba(0, 0, 0, 0.15);
    background-color: #00a89f;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
}

.loginSubmit>.button:hover {
    color: #ffffff;
    background-color: rgb(0, 136, 120);
    box-shadow: 4px 7px 10px 1px rgba(0, 0, 0, 0.15);
}

.loginSubmit>.button:active {
    color: #ffffff;
    background-color: #007267;
}

@media(max-width:414px) {
    .loginInput {
        width: 100%;
    }

    .heading {
        width: 80vw;
        font-size: 2.2rem;
    }

    .subheading {
        width: 80vw;
        font-size: 1.2rem;
    }

    .loginField>*>* {
        width: 80vw;
        height: 35px;
    }

    .forgotPassword {
        width: 80vw;
        text-align: left;
    }

    .loginField>.input>*::placeholder {
        font-size: 1.2rem;
    }

    .loginSubmit>.button {
        width: 80vw;
        font-size: 1.2rem;
        font-weight: 500;
        box-shadow: 4px 7px 10px 1px rgba(0, 0, 0, 0.15);
        background-color: #00a89f;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
    }
}
