.login {
    font-family: Neutrifpro-bold;
    display: flex;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    height: 100vh;
    padding: 0 0 0 30px;
}

.loginInput {
    width: 47vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading {
    width: 37vw;
    max-width: 570px !important;
    font-size: 3.6rem;
    margin: 12px 0px;
    line-height: normal;
    letter-spacing: 1.1px;
    color: #434660;
}

.subheading {
    width: 37vw;
    max-width: 570px !important;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: #a8a9b5;
    margin: 0px 0px 16px 0;
}

.login-error-text {
    color: red;
    width: inherit;
    height: 1.6rem;
}

.loginField {
    margin: 10px 0px;
}

.loginField>*>* {
    width: 37vw;
    height: 50px;
    max-width: 570px !important;
}

.loginField>*>*::placeholder {
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #5a5c74 !important;
}


.forgotPassword {
    width: 37vw;
    max-width: 570px !important;
    text-align: left;
    margin: 0px 0px 40px 0;
}

.notMember {
    width: 37vw;
    max-width: 570px !important;
    text-align: left;
    margin: 0px 0px 10px 0;

}

.forgotPassword>*,
.notMember>* {
    letter-spacing: 0.4px;
    color: #2964ee;
}

.loginSubmit>button {
    width: 37vw;
    max-width: 570px !important;
    font-size: 1.4rem !important;
    font-weight: 500 !important;
    border-radius: 5px !important;
    box-shadow: 4px 7px 10px 1px rgba(0, 0, 0, 0.15) !important;
    background-color: #2964ee !important;
    letter-spacing: 0.5px !important;
    text-align: center !important;
    color: #ffffff !important;
    margin: 0 !important;

}

.loginNotMember>button {
    width: 37vw !important;
    max-width: 570px !important;
    font-size: 1.3rem !important;
    font-weight: 500 !important;
    border-radius: 5px !important;
    box-shadow: 4px 7px 10px 1px rgba(0, 0, 0, 0.15) !important;
    border: solid 2px #2964ee !important;
    color: #2964ee !important;
    letter-spacing: 0.5px !important;
    text-align: center !important;
    background-color: transparent !important;
    margin: 0 !important;
}

.loginNotMember:hover {
    box-shadow: 0;
}

.loginSubmit:hover {
    color: #ffffff;
    box-shadow: 4px 7px 10px 1px rgba(0, 0, 0, 0.15);
}

.loginSubmit>button:active {
    color: #ffffff;
    background-color: #2964ee;
}


.loginOption {
    margin: 40px 0px 0px 0;
}

@media(max-width:515px) {
    body {
        display: flex;
        justify-content: center;
    }
    
    .login {
        position: relative;
        height: 100%;
        overflow: hidden;
        padding: 0 10vw;
        width: 100%;
    }

    .loginInput {
        width: 100%;
        z-index: 1;
    }

    .loginMainBuilding {
        height: 100vh;
        position: absolute;
        opacity: 0.2;
        top: 0;
    }

    .heading {
        font-size: 2.6rem;
        width: 80vw;
    }

    .subheading {
        width: 80vw;
        font-size: 1rem;
    }

    .loginField>*>* {
        width: 80vw;
        height: 35px;
    }

    .forgotPassword {
        text-align: left;
    }

    .loginField>*>*::placeholder {
        font-size: 1rem;
    }

    .loginOption {
        width: 80vw;
    }

    .loginSubmit>button {
        width: 80vw;
    }

    .notMember {
        width: 80vw;
    }

    .loginNotMember>button {
        width: 80vw !important;
    }
}