.opportunities-container{
    display: flex;
    flex-direction: row;
    padding: 4% 6.5%;
    background-color: #f6f6f6;
  
}

.filter-container{
    background-color: #ffffff;
    width: 23%;
    padding: 2.5% 2%;
}
.opportunities-filter-search > * {
    width:100%;
}
.filter-heading{
  
}
.list-post-container{
   width:75%;

}