.profile2 {
  height: 80vh;
  padding: 2% 5% 1% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f1f2f7;
  box-sizing: border-box;
}
.sidebar {
  width: 25%;
}
.contentBox {
  width: 70%;
  height: 100%;
}
